body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 70%;
}

.nav {
    background-color: #1F2937;
}

.nav-content {
    display: flex;
}

.logo {
    font-size: 21px;
    font-weight: 700;
    align-self: center;
    color: #fff;
}

.nav-list {
    display: flex;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    gap: 1.5em;
    font-weight: 500;
}

.account-item {
    margin-left: 2em;
}

.dark-blue {
    color: #fff;
    background-color: #1F2937;
    padding: 6em 0;
}

.main-text {
    width: 48%;
    margin: 0;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 48%;
}

.main-text h1 {
    margin: 0;
    font-size: 48px;
}

.main-text p,
.main-btn {
    margin-top: 0.25em;
    font-size: 18px;
}

.main-btn {
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: 600;
}

.white {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.box-col {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.box {
    border: 3px solid #3882F6;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.white h2 {
    margin: 1em 0;
    font-size: 36px;
}

.box-col p {
    padding-bottom: 3em;
}

.light-gray {
    background-color: #E5E7EB;
    padding: 4em;
}

.quote {
    width: 80%;
    margin: 0 auto;
}
.quote-text {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.text-box {
    display: flex;
    background-color: #3882F6;
}